Action= Configure
Method= Custom

Controller= SLOT {{ array_controller_slot }}
PowerMode= MaxPerformance
ReadCache= 10
WriteCache= 90
RebuildPriority= High
ExpandPriority= Medium
ParallelSurfaceScanCount= 1
SurfaceScanMode= Idle
SurfaceScanDelay= 3
Latency= Disable
DriveWriteCache= Disabled
NoBatteryWriteCache= Disabled
MNPDelay= 60
IRPEnable= Disabled
DPOEnable= Disabled
ElevatorSortEnable= Enabled
QueueDepth= Automatic
PredictiveSpareActivation= Disable

ArrayR0= 24
